body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #eaffea, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    color: #3BB143;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #3BB143;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #319c38;
}

a {
    color: #3BB143;
    text-decoration: none;
}